## NAME: ARUN SREERAM.R  

## MACHINE LEARNING ASSIGNMENT  

### To extract the technical skills from the given dataset

importing the required packages

In [63]:
import numpy as np
import pandas as pd

In [64]:
#reading the csv files

In [65]:
df1=pd.read_csv("F:\intershala\Files\Raw_Skills_Dataset.csv")

In [66]:
df1.shape

(34116, 1)

In [67]:
df1.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [68]:
#identifying the duplicates

In [69]:
df1.duplicated().sum()

18439

In [70]:
df1.loc[df1.duplicated(keep="first"), :]

                                            RAW DATA
13                                         Hibernate
58                                               SQL
102                                      consistency
114                                              AWS
124           experience building cloud environments
...                                              ...
34107                            limited supervision
34112                                      deadlines
34113  Self-motivated, enthusiastic and strong drive
34114                                    negotiation
34115                                      deadlines

[18439 rows x 1 columns]

In [71]:
#removing duplpicates

In [72]:
df1.drop_duplicates(keep="first").shape

(15677, 1)

In [73]:
df1=pd.DataFrame(df1.drop_duplicates(keep="first"))

In [74]:
df1.shape

(15677, 1)

In [75]:
df1.rename({"RAW DATA":"Technology Skills"},axis=1,inplace=True)

In [76]:
df2=pd.read_csv("F:\intershala\Files\Example_Technical_Skills.csv")

In [77]:
df2.head(10)

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps
5                                 CA SAM
6                              OpenShift
7                  Acxiom Data Analytics
8                  SAP Digital Boardroom
9                          Seeburger BIS

In [78]:
df2.shape

(979, 1)

In [79]:
#identifyinig the duplicates

In [80]:
df2.duplicated().sum()

82

In [81]:
df2.loc[df2.duplicated(keep="first"), :]

                            Technology Skills
88                      Microsoft Focus COBOL
157                       Software Governance
194                                   PostGIS
199                                       FTP
209                          MS Bot Framework
..                                        ...
933                  GlobalAdvantage - Select
934              SAP Process Integration (PI)
935                                   Automic
964                 MS SQL Reporting Services
967  McKessonInpatient PhysicalRehabilitation

[82 rows x 1 columns]

In [82]:
#removing duplicates

In [83]:
df2.drop_duplicates(keep="first").shape

(897, 1)

In [84]:
df2=pd.DataFrame(df2.drop_duplicates(keep="first"))

In [85]:
df2.shape

(897, 1)

In [86]:
#concatinating to data frames

In [87]:
df3=pd.concat([df1,df2],ignore_index=True)

In [88]:
df3.shape

(16574, 1)

In [89]:
#identifying the duplicates

In [90]:
df3.duplicated().sum()

36

In [91]:
n_df3=df3.loc[df3.duplicated(keep="first"), :]

In [93]:
n_df3.to_csv('F:/intershala/technicalskills.csv',index=False) #new dataset containing only the technical skills is created as a new csv file

In [94]:
n_df3.shape #new dataset containing only the technical skills

(36, 1)

In [95]:
n_df3.head(40)

                Technology Skills
15681                      DevOps
15683                   OpenShift
15704                    SAS Base
15712                       MySQL
15723             Adobe Photoshop
15746                     PostGIS
15752                    NetSuite
15770                   Force.com
15781                    ActiveMQ
15788                        SCSS
15796  Microsoft Azure Networking
15823               Amazon Lambda
15847                         FTP
15861                         EAC
15874                   Bitbucket
15882                  SAP Lumira
15959         SAP Analytics Cloud
15967                     Magento
16008                      Radius
16014              Octopus Deploy
16064                        Gulp
16124                     Eclipse
16161                     Phantom
16179                     SAS JMP
16222                     Katalon
16253                      Consul
16290                   OneStream
16322      Guidewire PolicyCenter
16330                Apache Oozie
16335                      GitHub
16380                       NuGet
16400                         DRM
16463                        Bash
16476        SAS Enterprise Guide
16489                      Kotlin
16537                    Ethereum